<h1 class="heading">Hello World</h1>
<!-- interpolation -->
<h2>{{ userName }}</h2>
<h2>{{ 1 + 2 }}</h2>
<h2>{{ "Hello " + userName }}</h2>
<h2>{{ greetings() }}</h2>
<h2>{{ userName.toUpperCase() }}</h2>

<!-- yo can not do 
1. assignment in {{ }}
2. also you can not use globale objects of js ex. window 
-->

<!-- property binding -->
<div class="pb">
    <!-- for better understanding look at inspect element -->
    <input [disabled]="wantVisible" type="text" value="Shiva" />
    <!-- <input disabled="{{ wantVisible }}" type="text" value="Shiva" /> 
    it will not work 
    -->
    <input bind-disabled="true" type="text" value="Shiva" />
    <input type="text" value="{{ userName }}" />
    <img [src]="imageUrl" alt="typescript vs javascript" height="500px" />
</div>
